---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const recipes: { name: string; img: string }[] = [
  { name: "Bowl", img: "bowl" },
  { name: "Couscous", img: "couscous" },
  { name: "Kichererbsen", img: "kichererbsen" },
  { name: "Lunch", img: "lunch" },
  { name: "Salat", img: "salad" },
  { name: "Süßkartoffeln", img: "sweet-potatoes" },
];
---

<Layout title="Food blog">
  <main class="max-w-screen-lg mx-auto">
    <div class="flex flex-wrap justify-start my-5">
      {recipes.map(({ name, img }) => <Card name={name} img={img} />)}
    </div>
  </main>
</Layout>
