---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main class="max-w-screen-lg mx-auto">
      <img class="h-full w-full mb-4" src={frontmatter.heroImage} />
      <div class="p-4">
        <h1 class="text-2xl font-bold mb-2">{frontmatter.title}</h1>
        <slot />
      </div>
    </main>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Quicksand;
    src: url("/fonts/Quicksand-Regular.ttf");
  }
  @font-face {
    font-family: Quicksand;
    src: url("/fonts/Quicksand-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: Quicksand;
    src: url("/fonts/Quicksand-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: Quicksand;
    src: url("/fonts/Quicksand-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: Quicksand;
    src: url("/fonts/Quicksand-SemiBold.ttf");
    font-weight: 800;
  }
  html {
    font-family: "Quicksand", system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  ul {
    list-style: inside !important;
  }
  ol {
    list-style: decimal !important;
    padding-left: 16px !important;
  }
  strong {
    font-weight: bold;
  }
</style>
